#userInput {
  margin: 0 auto;
  margin-top: 75px;
}

#header {
  font-size: 50px;
}

body {
  font-family: 'Nunito';
  font-size: 150%;
  background-color:darkslategrey;
  color: black;
}

.gif {
  border: darkslategrey solid 7px;
}

.gifContainer {
  margin: 10px;
  display: inline-block;
  border-color: #000;
}

.searchButtons {
  margin: 7px 10px;
  color: black;
}

hr {
  width: 100%;
  height: 10px;
}

.gif:hover {
  cursor: pointer;
  border: sandybrown solid 7.5px;
}

::placeholder {
  font-size: 20px;
}

input[type=text] {
   font-size: 20px;
}